.dev_1{
    font-size: 80px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
#G{
    color: blue;

}
#o{
    color: red;

}
#oo{
    color: yellow;

}
#g{
    color: blue;

}
#l{
    color: green;

}
#e{
    color: red;
}
#nida{
    color:blue ;
}
.dev_2{
    margin-left: 60%;
    font-family: "Times New Roman", Times, serif;
    color: rgba(0,0,0,0.5);
    letter-spacing: 5px;
    font-size: 30px;

}
.dev_3{
    border: 1px solid black;
    width: 800px;
    height: 175px;
    margin: auto;
    background-color: ghostwhite ;
}
#fname{
    width: 300px;
}
.dev_4{
    border: 1px solid black;
    width: 300px;
    height: 90px;
    padding-top: 20px;
    padding-bottom: -30px;
    background-color: aquamarine;
}
.dev_5{
    border: 1px solid black;
    width: 300px;
    background-color: rgb(159, 219, 199);

}
.dev_6{
    display: flex;
}
.dev_7{
    border: 1px solid black;
    width: 300px;
    background-color: rgb(60, 204, 156);


}

